@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align: left; max-width: 300px; margin: 0 auto; background: rgba(51, 51, 51,.4); padding: 10px; color:white; font-size:large">
    <h2>Your submission has been received. Thank you!</h2>
</div>