@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center; max-width: 800px; margin: 0 auto; background: rgba(51, 51, 51,.4); padding: 10px; color:white">
    <h1 class="display-4">The Joel Hilton</h1>
    <h3 class="display-7">Film Collection</h3>
</div>

