@{
    ViewData["Title"] = "Movie Database";
}
@model Movie

<div style="text-align: left; max-width: 300px; margin: 0 auto; background: rgba(51, 51, 51,.4); padding: 10px; color:white; font-size:large">

    <h2>Add a New Movie</h2>
    <form method="post">
   
        <input type="hidden" asp-for="MovieId"/>

        <label asp-for="Title">Title:</label><br>
        <input asp-for="Title" type="text" required><br><br>

        <label asp-for="CategoryId">CategoryId:</label><br>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.CategoriesBag)
            {
                <option value="@c.CategoryId">@c.CategoryName </option>
            }
        </select><br /><br />

        <label asp-for="Year">Year:</label><br>
        <input asp-for="Year" type="number" required><br><br>

        <label asp-for="Director">Director:</label><br>
        <input asp-for="Director" type="text" required><br><br>

        <label asp-for="Rating">Rating:</label><br>
        <select asp-for="Rating" required>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br><br>

        <label asp-for="Edited">Edited:</label><br>
        <input asp-for="Edited" type="radio" value="1" required>
        <label asp-for="Edited">Yes</label>
        <input asp-for="Edited" type="radio" value="0">
        <label asp-for="Edited">No</label><br><br>

        <label asp-for="LentTo">Lent To:</label><br>
        <input asp-for="LentTo"><br><br>

        <label asp-for="CopiedToPlex">Copied to Plex:</label><br>
        <input asp-for="CopiedToPlex" type="radio" value="1" required>
        <label asp-for="CopiedToPlex">Yes</label>
        <input asp-for="CopiedToPlex" type="radio" value="0">
        <label asp-for="CopiedToPlex">No</label><br><br>

        <label asp-for="Notes" >Notes (max 25 characters):</label><br>
        <input asp-for="Notes" type="text" maxlength="25"><br><br>

        <button type="submit">Submit Movie</button>

        <div asp-validation-summary="All"></div>
    </form>

</div>

